node_modules/
dist/
.env
.env.*
!.env.example
/generated/prisma
assets/tmp/
assets/[0-9]*-*.jpg
assets/[0-9]*-*.jpeg
assets/[0-9]*-*.png
assets/[0-9]*-*.gif
assets/[0-9]*-*.webp

**/.DS_Store
.DS_Store
Thumbs.db
ehthumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*