#conectar a la bd
#DATABASE_URL= mysql://root:pon_un_password_largo@localhost:3306/inversan
#JWT_SECRET=contraseña_rara
#EMAIL_USER= ejemplo@gmail.com
#EMAIL_PASS= contra

#REDIS_HOST=localhost
#REDIS_PORT=6379

#Configuraciones de paypal
#PAYPAL_CLIENT_ID=AdPuusfEwFpgoLjKkn_4T_J4H1RJ0u7SsLbYov51-m5g1rYtr8X64md-mGoNmuz16utbzIXf4wJR5u5j
#PAYPAL_CLIENT_SECRET=EPwzPm8j9BrFeruDeu7_RGL7KqJpGUzQyV3Zwp7osCJzpZt57SVrN9G6nRqXY0ibS8XnryVJzQPeoK68
# EXCHANGE_RATE_API_KEY=614e2c95d03c3e4aaacbe9cd